<ion-header>
    <ion-toolbar>
      <ion-title>Product List</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tab1"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
        <ion-item lines="none">
          <ion-searchbar mode="ios" style="padding: 0;" placeholder="Cari yang ingin kamu bantu"></ion-searchbar>
        </ion-item>
          <ion-buttons slot="start">
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" name="mail"></ion-icon>
            </ion-button>
          </ion-buttons>
</ion-content>
