<ion-header>
  <ion-toolbar>
    <ion-title>welcomepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
<br>
 <h3>Post a Request</h3>
 <br>
 <br>
Get unique items from overseas with 
<br>
the help of travellers
<br> 
<br>
Let the world be your shopping mall
<br>
<br>
<br>
<br>
<br>
  <ion-list> 
  <ion-button color="warning">SIGN UP</ion-button>
  <ion-button color="warning">LOG IN</ion-button>
  <ion-button expand="full" color="light">SKIP & START BROWSING</ion-button>
  </ion-list>
</ion-content>

