<ion-header>
  <ion-toolbar>
    <ion-title>welcomepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-searchbar mode="ios" style="padding: 0;"></ion-searchbar>
  </ion-item>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="basket"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="airplane"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-img src="assets/imgs/promo1.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="assets/imgs/promo2.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="assets/imgs/promo3.jpg"></ion-img>
  </ion-slide>
</ion-slides>
</ion-content>

