<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tab4"></ion-back-button>
        </ion-buttons>
    <ion-title>purchases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button  (click)="segmentChanged(1)">
      <ion-label>Request</ion-label>
    </ion-segment-button>
    <ion-segment-button  (click)="segmentChanged(0)">
      <ion-label>Pre-order</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-item *ngIf="segment==1">
    Request
  </ion-item>

  <ion-item *ngIf="segment==0">
   Pre-orders
  </ion-item>
</ion-content>
