<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
    <ion-label>Item Avatar</ion-label>
      
      <ion-button>
          Edit
      </ion-button>
    </ion-item>

    <ion-item *ngFor="let item of items" (click)="DisplayPage(item.path)">
        <ion-label>
          {{item.label}}
        </ion-label>
        <ion-label class="label-right">
          {{item.qty}}
        </ion-label>               
      </ion-item>
    </ion-content>
