<ion-header>
    <ion-toolbar>
      <ion-title>Negara</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tab1"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-item lines="none">
          <ion-searchbar mode="ios" style="padding: 0;" placeholder="Cari negara"></ion-searchbar>
        </ion-item>
          <ion-buttons slot="start">
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" name="mail"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-grid>


        <ion-row>
          <ion-col>
            <b>Negara Lainnya</b>
          </ion-col>
        </ion-row>
        <ion-row nowrap class="container-horizontal">
    


        <ion-list>
          <ion-item>
            <ion-label>Afrika Selatan</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Albania</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Algeria</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Amerika</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Andorra</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Angola</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Antigua dan Barbuda</ion-label>
          </ion-item>
        </ion-list>



      </ion-grid>

  </ion-content>
