<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab1"></ion-back-button>
    </ion-buttons>

    <ion-title class="cool-button">login</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content padding style="background-color: blue;">
    <ion-list text-center>
        <br>
        <H3> Welcome </H3>
        <br>
         <ion-item>
            <ion-label color="secondary" >Username</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label color="secondary" >Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
 
        <br>
        <br>
        <!-- Default -->
          <ion-button>Login</ion-button>

 
        <br>
        <p  text-center tappable> Forget Password </p>
        
        <p  text-center tappable> Don't have account? Register </p>
        
    </ion-list>
</ion-content>

