<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab1"></ion-back-button>
    </ion-buttons>

    <ion-title class="cool-button">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background-color: blue;">
  <br>
  <br>
  <!-- Expand -->
  <ion-button expand="full">LOG IN WITH FACEBOOK</ion-button>

  <ion-list text-center>

    <H3> ------or------ </H3>

    <ion-item>
      <ion-label color="secondary">Email Address</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label color="secondary">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <br>
    <br>
    <!-- Default -->
    <ion-button COLOR="secondary">LOG IN USING EMAIL</ion-button>


    <br>

    <p text-center tappable> Don't have account? <a routerlink="/Register">Register </a>
    </p>
    <p text-center tappable><a routerlink="/forgetpass"> Forgot Your Password ?</a></p>

  </ion-list>
</ion-content>