<ion-header>
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content fullscreen>
        <ion-list>
          <ion-list-header>
            Recent Conversations
          </ion-list-header>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./avatar-finn.png">
            </ion-avatar>
            <ion-label>
              <h2>Kevin Ciang</h2>
             
              <p>Piye kabare...</p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./avatar-han.png">
            </ion-avatar>
            <ion-label>
              <h2>Felicia Artha</h2>
              
              <p>love 9...</p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./avatar-rey.png">
            </ion-avatar>
            <ion-label>
              <h2>Madame Puthri Chitra</h2>
             
              <p>ajg...</p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src="./avatar-luke.png">
            </ion-avatar>
            <ion-label>
              <h2>Eldwin Tanwir</h2>
              
              <p>c...</p>
            </ion-label>
          </ion-item>
      </ion-list>
      
</ion-content>
