<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tab1"></ion-back-button>
        </ion-buttons>
    <ion-title>Purchase Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div padding>
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="kittens">
            Kittens
          </ion-segment-button>
          <ion-segment-button value="puppies">
            Puppies
          </ion-segment-button>
        </ion-segment>
      </div>
      
</ion-content>
