<ion-header>
  <ion-toolbar>
    <ion-title>Post Trip</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
      <ion-label position="floating">Belanja di</ion-label>
      <ion-input></ion-input>
    </ion-item>
  <br>
  <ion-item>
      <ion-label position="floating">Transaksi di</ion-label>
      <ion-input></ion-input>
    </ion-item>
  <br>
  <ion-item>
      <ion-label position="floating">Tanggal kembali</ion-label> 
    <br>
      <ion-input type="date"></ion-input>
    </ion-item>

</ion-content>