<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background-color: darkblue;">
  <br>
  <br>
  <!-- Expand -->
  <ion-button expand="full"><ion-icon slot="start" name="logo-facebook"></ion-icon>SIGN UP WITH FACEBOOK</ion-button>

  <ion-list text-center>

    <H3> ~~~~or~~~~ </H3>

    <ion-item>
      <ion-label color="secondary">Email Address</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label color="secondary">Username</ion-label>
      <ion-input type="username"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label color="secondary">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    

    <br>
    <br>
    <!-- Default -->
    <ion-button COLOR="secondary"> <ion-icon slot="start" name="md-filing"></ion-icon>SIGN UP USING EMAIL</ion-button>


    <br>

    <p text-center tappable> Already have an account? <a routerlink="/Register">Log In </a>
    </p>
    <p text-center tappable>By signing up, you agree with Shopx's <a routerlink="/forgetpass"> Terms & Conditions and Privacy Policy</a></p>


  </ion-list>
</ion-content>

