<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Product Detail Preorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true">
    <ion-slide>
      <ion-img src="assets/imgs/promo1.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/imgs/promo2.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/imgs/promo3.jpg"></ion-img>
    </ion-slide>
  </ion-slides>

</ion-content>